button {
  width: 250px;
  height: 80px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: #00471b;
}

.boton-clic {
  background-color: #002ead;
  display: flex;
}

.boton-reiniciar {
  background-color: #5a01a7;
}
